################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

packages/*
*.dll
obj/
bin/
*.log
*.suo
*.user
*.pubxml
*.text
.vs/
/log
/WabMaker.Web/log/
/WabMaker.Web/FileUpload/
