@model List<WabMaker.Web.WebViewModels.TreeWebViewModel>

<ul class="nav nav-pills">
    @GenerateTree(Model)
    <li><a href="http://www.worldskate.org/" target="_blank">WorldSkate</a></li>
</ul>

@helper GenerateTree(List<WabMaker.Web.WebViewModels.TreeWebViewModel> nodes, int level = 1)
{

if (nodes != null)
{
    foreach (var item in nodes)
    {
        bool hasChild = item.Nodes != null && item.Nodes.Any();
            <li>
                <a href="@item.Url">@item.Name</a>

                @*<ul>
                        @if (hasChild)
                        {
                            @GenerateTree(item.Nodes, level + 1)
                        }
                    </ul>*@
            </li>
    }//end foreach

}

}
